# NON GRADED CHALLENGE 2

## DESCRIPTION

This is a simple python assignment to exercise about looping using for and if statement. The assignment can be done in several ways by using nested if, elif, break and continue.

In this assignment, i am given a list containing odd and even numbers. From the list 'numbers', i need to print out all even numbers and stop at number '918' and print done.

Below is my code to complete the assignment.

## WORKSPACE

First, we need to define our list.

In [2]:
  numbers = [
  951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544, 615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941, 386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949
  ]

After we define the list, what i am doing below is printing all numbers in the list 'numbers' if each element fulfill the if statement in the for statement.

In [3]:
for i in numbers:

   if i % 2 == 0:
    print (i, end = " ")

402 984 360 408 980 544 390 984 592 236 942 386 462 418 344 236 566 978 328 162 758 918 412 566 826 248 866 950 626

You may notice that numbers that comes after '918' is still printed out. Next step is to break the loop on the number '918'. To break the loop i used break command combined with elif. Below is how i do it.

In [4]:
for i in numbers:
  if i == 237:
    break
  elif i % 2 == 0:
    print (i)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

The last step is to print the "Done". So i added "Done" at the end of for loop.

In [5]:
for i in numbers:
  if i == 237:
    break
  elif i % 2 == 0:
    print (i)
print("Done")

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918
Done

And that's it. A nice little exercise to jog your knowledge about looping in python. I hope you like it!